<form class="archmage item-sheet spell-sheet power-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="44" width="44"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'ARCHMAGE.name'}}"/></h1>
    </header>

    <article class="sheet-content">
        <!-- ITEM SHEET SIDEBAR -->
        {{#if hasSidebar}}
        <section class="sheet-sidebar">
            {{> (sidebarTemplate)}}
        </section>
        {{/if}}

        <section class="sheet-body">
            <nav class="sheet-tabs tabs" data-group="primary">
                <a class="item" data-tab="description">{{localize 'ARCHMAGE.description'}}</a>
                <a class="item" data-tab="details">{{localize 'ARCHMAGE.details'}}</a>
            </nav>

            <div class="sheet-tabs-content">
              <!-- Ability Description -->
              <div class="tab" data-group="primary" data-tab="description">
                  {{editor system.description.value target="system.description.value" button=true owner=owner editable=editable}}
              </div>

              <!-- Ability Details -->
              <div class="tab archmage-aip" data-group="primary" data-tab="details">

                <div class="form-group" title="{{localize 'ARCHMAGE.ITEM.group'}}">
                    <label>{{localize 'ARCHMAGE.CHAT.group'}}</label>
                    <input type="text" name="system.group.value" value="{{system.group.value}}" data-dtype="{{system.group.type}}" placeholder="{{localize 'ARCHMAGE.ITEM.group'}}"/>
                </div>

                <div class="form-group" title="{{localize 'ARCHMAGE.CHAT.powerOriginTitle'}}">
                    <label>{{localize 'ARCHMAGE.CHAT.powerOriginName'}}</label>
                    <input type="text" name="system.powerOriginName.value" value="{{system.powerOriginName.value}}" data-dtype="{{system.powerOriginName.type}}" placeholder="{{localize 'ARCHMAGE.CHAT.powerOriginNamePlaceholder'}}"/>
                  </div>

                <div class="form-group" title="{{localize 'ARCHMAGE.CHAT.powerSourceTitle'}}">
                    <label>{{localize 'ARCHMAGE.CHAT.powerSourceName'}}</label>
                    <input type="text" name="system.powerSourceName.value" value="{{system.powerSourceName.value}}" data-dtype="{{system.powerSourceName.type}}" placeholder="{{localize 'ARCHMAGE.CHAT.powerSourcePlaceholder'}}"/>
                  </div>

                  <div class="form-group" title="{{localize 'ARCHMAGE.CHAT.powerSourceTypeTitle'}}">
                      <label>{{localize 'ARCHMAGE.CHAT.powerSource'}}</label>
                      <select name="system.powerSource.value" data-dtype="{{system.powerSource.type}}">
                          {{#select system.powerSource.value}}
                          {{#each powerSources as |name type|}}
                          <option value="{{type}}">{{name}}</option>
                          {{/each}}
                          {{/select}}
                      </select>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.powerType'}}</label>
                      <select name="system.powerType.value" data-dtype="{{system.powerType.type}}">
                          {{#select system.powerType.value}}
                          {{#each powerTypes as |name type|}}
                          <option value="{{type}}">{{name}}</option>
                          {{/each}}
                          {{/select}}
                      </select>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.powerUsage'}}</label>
                      <select name="system.powerUsage.value" data-dtype="{{system.powerUsage.type}}">
                          {{#select system.powerUsage.value}}
                          <option value="">{{localize 'ARCHMAGE.noneOption'}}</option>
                          {{#each powerUsages as |name type|}}
                          <option value="{{type}}">{{name}}</option>
                          {{/each}}
                          {{/select}}
                      </select>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.actionType'}}</label>
                      <select name="system.actionType.value" data-dtype="{{system.actionType.type}}">
                          {{#select system.actionType.value}}
                          <option value="">{{localize 'ARCHMAGE.noneOption'}}</option>
                          {{#each actionTypes as |name type|}}
                          <option value="{{type}}">{{name}}</option>
                          {{/each}}
                          {{/select}}
                      </select>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.powerLevel'}}</label>
                      <input type="text" name="system.powerLevel.value" value="{{system.powerLevel.value}}" data-dtype="{{system.powerLevel.type}}" placeholder="1"/>
                  </div>

                  <div class="form-group" title="{{localize 'ARCHMAGE.CHAT.rangeTitle'}}">
                      <label>{{localize 'ARCHMAGE.CHAT.range'}}</label>
                      <input type="text" name="system.range.value" value="{{system.range.value}}" data-dtype="{{system.range.type}}" placeholder="{{localize 'ARCHMAGE.CHAT.rangePlaceholder'}}"/>
                  </div>

                  <div class="form-group" title="{{localize 'ARCHMAGE.CHAT.triggerTitle'}}">
                      <label>{{localize 'ARCHMAGE.CHAT.trigger'}}</label>
                      <input type="text" name="system.trigger.value" value="{{system.trigger.value}}" data-dtype="{{system.trigger.type}}" placeholder="{{localize 'ARCHMAGE.CHAT.triggerPlaceholder'}}"/>
                  </div>

                  <div class="form-group" title="{{localize 'ARCHMAGE.CHAT.targetTitle'}}">
                      <label>{{localize 'ARCHMAGE.CHAT.target'}}</label>
                      <input type="text" name="system.target.value" value="{{system.target.value}}" data-dtype="{{system.target.type}}" placeholder="{{localize 'ARCHMAGE.CHAT.targetPlaceholder'}}"/>
                  </div>

                  <div class="form-group" title="{{localize 'ARCHMAGE.CHAT.alwaysTitle'}}">
                      <label>{{localize 'ARCHMAGE.CHAT.always'}}</label>
                      <input type="text" name="system.always.value" value="{{system.always.value}}" data-dtype="{{system.always.type}}" placeholder="{{localize 'ARCHMAGE.CHAT.alwaysPlaceholder'}}"/>
                  </div>

                  <div class="form-group" title="{{localize 'ARCHMAGE.CHAT.attackTitle'}}">
                      <label>{{localize 'ARCHMAGE.CHAT.attack'}}</label>
                      <input type="text" name="system.attack.value" value="{{system.attack.value}}" data-dtype="{{system.attack.type}}" placeholder="{{localize 'ARCHMAGE.CHAT.attackPlaceholder'}}"/>
                  </div>

                  <div class="form-group" title="{{localize 'ARCHMAGE.CHAT.hitTitle'}}">
                      <label>{{localize 'ARCHMAGE.CHAT.hit'}}</label>
                      <input type="text" name="system.hit.value" value="{{system.hit.value}}" data-dtype="{{system.hit.type}}" placeholder="{{localize 'ARCHMAGE.CHAT.hitPlaceholder'}}"/>
                  </div>

                  <div class="form-group" title="{{localize 'ARCHMAGE.CHAT.hitEvenTitle'}}">
                      <label>{{localize 'ARCHMAGE.CHAT.hitEven'}}</label>
                      <input type="text" name="system.hitEven.value" value="{{system.hitEven.value}}" data-dtype="{{system.hitEven.type}}" placeholder="{{localize 'ARCHMAGE.CHAT.hitEvenTitle'}}"/>
                  </div>

                  <div class="form-group" title="{{localize 'ARCHMAGE.CHAT.hitOddTitle'}}">
                      <label>{{localize 'ARCHMAGE.CHAT.hitOdd'}}</label>
                      <input type="text" name="system.hitOdd.value" value="{{system.hitOdd.value}}" data-dtype="{{system.hitOdd.type}}" placeholder="{{localize 'ARCHMAGE.CHAT.hitOddTitle'}}"/>
                  </div>

                  <div class="form-group" title="{{localize 'ARCHMAGE.CHAT.critPlaceholder'}}">
                      <label>{{localize 'ARCHMAGE.CHAT.crit'}}</label>
                      <input type="text" name="system.crit.value" value="{{system.crit.value}}" data-dtype="{{system.crit.type}}" placeholder="{{localize 'ARCHMAGE.CHAT.critPlaceholder'}}"/>
                  </div>

                  <div class="form-group" title="{{localize 'ARCHMAGE.CHAT.missTitle'}}">
                      <label>{{localize 'ARCHMAGE.CHAT.miss'}}</label>
                      <input type="text" name="system.miss.value" value="{{system.miss.value}}" data-dtype="{{system.miss.type}}" placeholder="{{localize 'ARCHMAGE.CHAT.missPlaceholder'}}"/>
                  </div>

                  <div class="form-group" title="{{localize 'ARCHMAGE.CHAT.missEvenPlaceholder'}}">
                      <label>{{localize 'ARCHMAGE.CHAT.missEven'}}</label>
                      <input type="text" name="system.missEven.value" value="{{system.missEven.value}}" data-dtype="{{system.missEven.type}}" placeholder="{{localize 'ARCHMAGE.CHAT.missEvenPlaceholder'}}"/>
                  </div>

                  <div class="form-group" title="{{localize 'ARCHMAGE.CHAT.missOddPlaceholder'}}">
                      <label>{{localize 'ARCHMAGE.CHAT.missOdd'}}</label>
                      <input type="text" name="system.missOdd.value" value="{{system.missOdd.value}}" data-dtype="{{system.missOdd.type}}" placeholder="{{localize 'ARCHMAGE.CHAT.missOddPlaceholder'}}"/>
                  </div>

                  <div class="form-group" title="{{localize 'ARCHMAGE.CHAT.sustainOnTitle'}}">
                      <label>{{localize 'ARCHMAGE.CHAT.sustainOn'}}</label>
                      <input type="text" name="system.sustainOn.value" value="{{system.sustainOn.value}}" data-dtype="{{system.sustainOn.type}}" placeholder="{{localize 'ARCHMAGE.CHAT.numbersOnly'}}"/>
                  </div>

                  <div class="form-group" title="{{localize 'ARCHMAGE.CHAT.rechargeHint'}}">
                      <label>{{localize 'ARCHMAGE.CHAT.recharge'}}</label>
                      <input type="text" name="system.recharge.value" value="{{system.recharge.value}}" data-dtype="{{system.recharge.type}}" placeholder="{{localize 'ARCHMAGE.CHAT.numbersOnly'}}"/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.resources'}}</label>
                      <input type="text" name="system.resources.value" value="{{system.resources.value}}" data-dtype="{{system.resources.type}}" placeholder="{{localize 'ARCHMAGE.CHAT.resourcesPlaceholder'}}"/>
                  </div>

                  <div class="form-group" title="{{localize 'ARCHMAGE.ITEM.usesRemainingHint'}}">
                      <label>{{localize 'ARCHMAGE.ITEM.usesRemaining'}}</label>
                      <input type="text" name="system.quantity.value" value="{{system.quantity.value}}" data-dtype="{{system.quantity.type}}" placeholder="{{localize 'ARCHMAGE.ITEM.usesRemainingHint'}}"/>
                  </div>

                  <div class="form-group" title="{{localize 'ARCHMAGE.ITEM.usesMaxHint'}}">
                      <label>{{localize 'ARCHMAGE.ITEM.usesMax'}}</label>
                      <input type="text" name="system.maxQuantity.value" value="{{system.maxQuantity.value}}" data-dtype="{{system.maxQuantity.type}}" placeholder="{{localize 'ARCHMAGE.ITEM.usesMaxHint'}}"/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.special'}}</label>
                      {{editor system.special.value target="system.special.value" button=true owner=owner editable=editable}}
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.effect'}}</label>
                      {{editor system.effect.value target="system.effect.value" button=true owner=owner editable=editable}}
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.castBroadEffect'}}</label>
                      <textarea class="attribute-value" name="system.castBroadEffect.value" rows="5" title=""
                      data-dtype="{{system.castBroadEffect.type}}">{{#if system.castBroadEffect.value}}{{system.castBroadEffect.value}}{{/if}}</textarea>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.castPower'}}</label>
                      <textarea class="attribute-value" name="system.castPower.value" rows="5" title=""
                      data-dtype="{{system.castPower.type}}">{{#if system.castPower.value}}{{system.castPower.value}}{{/if}}</textarea>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.sustainedEffect'}}</label>
                      <textarea class="attribute-value" name="system.sustainedEffect.value" rows="5" title=""
                      data-dtype="{{system.sustainedEffect.type}}">{{#if system.sustainedEffect.value}}{{system.sustainedEffect.value}}{{/if}}</textarea>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.finalVerse'}}</label>
                      <textarea class="attribute-value" name="system.finalVerse.value" rows="5" title=""
                      data-dtype="{{system.finalVerse.type}}">{{#if system.finalVerse.value}}{{system.finalVerse.value}}{{/if}}</textarea>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.spellChain'}}</label>
                      <textarea class="attribute-value" name="system.spellChain.value" rows="5" title=""
                      data-dtype="{{system.spellChain.type}}">{{#if system.spellChain.value}}{{system.spellChain.value}}{{/if}}</textarea>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.breathWeapon'}}</label>
                      <textarea class="attribute-value" name="system.breathWeapon.value" rows="5" title=""
                      data-dtype="{{system.breathWeapon.type}}">{{#if system.breathWeapon.value}}{{system.breathWeapon.value}}{{/if}}</textarea>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.spellLevel2'}}</label>
                      <input type="text" name="system.spellLevel2.value" value="{{system.spellLevel2.value}}" data-dtype="{{system.spellLevel2.type}}" placeholder="{{localize 'ARCHMAGE.CHAT.spellLevel2Placeholder'}}"/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.spellLevel3'}}</label>
                      <input type="text" name="system.spellLevel3.value" value="{{system.spellLevel3.value}}" data-dtype="{{system.spellLevel3.type}}" placeholder="{{localize 'ARCHMAGE.CHAT.spellLevel3Placeholder'}}"/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.spellLevel4'}}</label>
                      <input type="text" name="system.spellLevel4.value" value="{{system.spellLevel4.value}}" data-dtype="{{system.spellLevel4.type}}" placeholder="{{localize 'ARCHMAGE.CHAT.spellLevel4Placeholder'}}"/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.spellLevel5'}}</label>
                      <input type="text" name="system.spellLevel5.value" value="{{system.spellLevel5.value}}" data-dtype="{{system.spellLevel5.type}}" placeholder="{{localize 'ARCHMAGE.CHAT.spellLevel5Placeholder'}}"/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.spellLevel6'}}</label>
                      <input type="text" name="system.spellLevel6.value" value="{{system.spellLevel6.value}}" data-dtype="{{system.spellLevel6.type}}" placeholder="{{localize 'ARCHMAGE.CHAT.spellLevel6Placeholder'}}"/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.spellLevel7'}}</label>
                      <input type="text" name="system.spellLevel7.value" value="{{system.spellLevel7.value}}" data-dtype="{{system.spellLevel7.type}}" placeholder="{{localize 'ARCHMAGE.CHAT.spellLevel7Placeholder'}}"/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.spellLevel8'}}</label>
                      <input type="text" name="system.spellLevel8.value" value="{{system.spellLevel8.value}}" data-dtype="{{system.spellLevel8.type}}" placeholder="{{localize 'ARCHMAGE.CHAT.spellLevel8Placeholder'}}"/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.spellLevel9'}}</label>
                      <input type="text" name="system.spellLevel9.value" value="{{system.spellLevel9.value}}" data-dtype="{{system.spellLevel9.type}}" placeholder="{{localize 'ARCHMAGE.CHAT.spellLevel9Placeholder'}}"/>
                  </div>

                  <div class="form-group">
                      <label>{{localize 'ARCHMAGE.CHAT.spellLevel10'}}</label>
                      <input type="text" name="system.spellLevel10.value" value="{{system.spellLevel10.value}}" data-dtype="{{system.spellLevel10.type}}" placeholder="{{localize 'ARCHMAGE.CHAT.spellLevel10Placeholder'}}"/>
                  </div>

                  <div class="form-group" title="{{localize 'ARCHMAGE.CHAT.rollTableTitle'}}">
                      <label>{{localize 'ARCHMAGE.CHAT.rollTable'}}</label>
                      <input type="text" name="system.rollTable.value" value="{{system.rollTable.value}}" data-dtype="{{system.rollTable.type}}" placeholder="{{localize 'ARCHMAGE.CHAT.rollTablePlaceholder'}}"/>
                  </div>

                  <div class="form-group form-group-stacked">
                      <details class="form-details" open="true">
                        <summary>{{localize 'ARCHMAGE.feats'}}</summary>
                          <span>
                              <a class="feat-edit" title="Create Feat" data-action="add">
                                  <i class="fas fa-plus"></i>
                              </a>
                          </span>
                          {{#each system.feats as |feat key|}}
                          <span>
                              <a class="feat-edit" title="Delete Feat" data-featKey="{{key}}" data-action="del">
                                  <i class="fas fa-trash"></i>
                              </a>
                              <a class="feat-edit" title="Move Feat Up" data-featKey="{{key}}" data-action="up">
                                  <i class="fas fa-angle-up"></i>
                              </a>
                              <a class="feat-edit" title="Move Feat Down" data-featKey="{{key}}" data-action="down">
                                  <i class="fas fa-angle-down"></i>
                              </a>
                          </span>
                          <div class="form-group">
                            <label>{{localize 'ARCHMAGE.CHAT.tier'}}</label>
                            <select name="system.feats.{{@key}}.tier.value" data-dtype="{{this.tier.type}}">
                                {{#select this.tier.value}}
                                {{#each ../featTiers as |name tier|}}
                                <option value="{{tier}}">{{name}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                          </div>
                          <div class="form-group">
                              <label>{{localize 'ARCHMAGE.ITEM.active'}}</label>
                              <input type="checkbox" name="system.feats.{{@key}}.isActive.value" value="1" data-dtype="{{this.isActive.type}}" {{checked this.isActive.value}}/>
                          </div>
                          <div class="form-group">
                              {{editor this.description.value target=(concatenate "system.feats." @key ".description.value") button=true owner=../owner editable=../editable}}
                          </div>

                          <div class="form-group">
                              <label>{{localize 'ARCHMAGE.CHAT.powerUsage'}}</label>
                              <select name="system.feats.{{@key}}.powerUsage.value" data-dtype="{{this.powerUsage.type}}">
                                  {{#select this.powerUsage.value}}
                                  <option value="">- None -</option>
                                  {{#each ../featUsages as |name type|}}
                                  <option value="{{type}}">{{name}}</option>
                                  {{/each}}
                                  {{/select}}
                              </select>
                          </div>

                          <div class="form-group" title="{{localize 'ARCHMAGE.ITEM.usesRemainingHint'}}">
                            <label>{{localize 'ARCHMAGE.ITEM.usesRemaining'}}</label>
                            <input class="attribute-input" name="system.feats.{{@key}}.quantity.value" type="text" value="{{this.quantity.value}}"
                                data-dtype="{{this.quantity.type}}" placeholder="{{localize 'ARCHMAGE.ITEM.usesRemainingHint'}}" />
                          </div>
                          <div class="form-group" title="{{localize 'ARCHMAGE.ITEM.usesMaxHint'}}">
                            <label>{{localize 'ARCHMAGE.ITEM.usesMax'}}</label>
                            <input class="attribute-input" name="system.feats.{{@key}}.maxQuantity.value" type="text" value="{{this.maxQuantity.value}}"
                                data-dtype="{{this.maxQuantity.type}}" placeholder="{{localize 'ARCHMAGE.ITEM.usesMaxHint'}}" />
                          </div>
                          {{/each}}
                      </details>
                  </div>

                  {{#if sequencerEnabled }}
                  <div class="form-group form-group-stacked">
                    <label>Sequencer</label>
                    <details class="form-details">
                      <summary>{{localize 'ARCHMAGE.CHAT.sequencerDesc'}}</summary>
                      <div class="form-group">
                          <label>{{localize 'ARCHMAGE.CHAT.sequencerSelf'}}</label>
                          <input type="text" name="system.sequencer.self" value="{{system.sequencer.self}}" data-dtype="String" placeholder="Ex: modules/JB2A_DnD5e/Library/Generic/UI/IconSnowflake_01_Regular_Blue_200x200.webm"/>
                      </div>
                      <div class="form-group">
                          <label>{{localize 'ARCHMAGE.CHAT.sequencerRay'}}</label>
                          <input type="text" name="system.sequencer.ray" value="{{system.sequencer.ray}}" data-dtype="String" placeholder="Ex: modules/JB2A_DnD5e/Library/Cantrip/Ray_Of_Frost/RayOfFrost_01_Regular_Blue_30ft_1600x400.webm"/>
                      </div>
                      <div class="form-group">
                          <label>{{localize 'ARCHMAGE.CHAT.sequencerTarget'}}</label>
                          <input type="text" name="system.sequencer.target" value="{{system.sequencer.target}}" data-dtype="String" placeholder="Ex: modules/JB2A_DnD5e/Library/Generic/Explosion/Explosion_04_Regular_Blue_400x400.webm"/>
                      </div>
                      <div class="form-group">
                          <label>{{localize 'ARCHMAGE.CHAT.sequencerReverse'}}</label>
                          <input type="checkbox" name="system.sequencer.reversed" value="1" data-dtype="Boolean" {{checked system.sequencer.reversed}}/>
                      </div>
                    </details>
                  </div>
                  {{/if}}

                  <!-- <div class="form-group"> -->
                  <div class="form-group form-group-stacked power-macro-editor {{#if nightmode}}nightmode{{/if}}">
                      <label>{{localize 'ARCHMAGE.CHAT.embeddedMacro'}}</label>
                      <details class="form-details">
                        <summary>{{localize 'ARCHMAGE.CHAT.embeddedMacroSummary'}}</summary>
                        <textarea class="attribute-value" name="system.embeddedMacro.value" rows="20" title=""
                            data-dtype="{{system.embeddedMacro.type}}">{{#if system.embeddedMacro.value}}{{system.embeddedMacro.value}}{{/if}}</textarea>
                      </details>
                  </div>
              </div>
            </div>
        </section>

    </article>
</form>
